body{
    background-color: blue;
}
.elishane1{
    background-color: red;
}
.elishane2{
    background-color: gold;
}
.elishane3{
    background-color: chartreuse;
}
.elishane4{
    background-color: darkblue;
}