body{
    background-color: blue;
}
.kordzane1{
    background-color: red;
}
.kordzane2{
    background-color: gold;
}
.kordzane3{
    background-color: chartreuse;
}
.kordzane4{
    background-color: darkblue;
}