body{
    background-color: blue;
}
.elishane{
    background-color: red;
    padding: 15px;
}
.kordzane{
    background-color: darkorange;
}
.trixe{
    background-color: gold;
}
.pronto{
    background-color: chartreuse;
}
.jimmoshane{
    background-color: darkblue;
}
.willshane{
    background-color: indigo;
}