body{
    background-color: yellowgreen;
}
.prontogeronimole1{
    background-color: red;
}
.prontogeronimole2{
    background-color: yellow;
}
.prontogeronimole3{
    background-color: chartreuse;
}
.prontogeronimole4{
    background-color: blue
}