body{
    background-color: yellowgreen;
}
.beatricesting1{
    background-color: red;
}
.beatricesting2{
    background-color: yellow;
}
.beatricesting3{
    background-color: chartreuse;
}
.beatricesting4{
    background-color: darkblue;
}